@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

.ng-invalid.ng-touched {
    border-color: red;
}

.error-block {
    color: red;
}

.btn-group>label[ng-reflect-btn-radio] {
    border-radius: 44px;
    padding: 0 15px;
    line-height: 30px;
}

.card-header > h1, .card-header > h2, .card-header > h3 {
    color: white;
  }
  
  .card-header {
    height: 42px;
    padding: 4px 10px !important;
    background-color: #007bff !important;
  }
  
  .card-title {
    color: #0069d9;
  }

.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    min-height: 600px;
    background-color: white;
}

.nav-tabs>li.open, .member-tabset>.nav-tabs>li:hover {
    border-bottom: 4px solid #e1e2eb;
}

.member-tabset>.nav-tabs>li.open>a, .member-tabset>.nav-tabs>li:hover>a {
    border: 0;
    background: none !important;
    color: #333333;
}

.member-tabset>.nav-tabs>li.open>a>i, .member-tabset>.nav-tabs>li:hover>a>i {
    color: #a6a6a6;
}

.member-tabset>.nav-tabs>li.open .dropdown-menu, .member-tabset>.nav-tabs>li:hover .dropdown-menu {
    margin-top: 0px;
}

.member-tabset>.nav-tabs>li.active {
    border-bottom: 4px solid #0069d9;
    position: relative;
}

.member-tabset>.nav-tabs>li.active>a {
    border: 0 !important;
    color: #333333;
}

.member-tabset>.nav-tabs>li.active>a>i {
    color: #404040;
}

.member-tabset>.tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}